<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PermanentVacations.Nasa.Sts.OutlookCalendar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="NasaTVScheduleImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PermanentVacations.Nasa.Sts.OutlookCalendar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="NasaTVScheduleImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TimeZoneInfo" publicKeyToken="D7075936D97B6AEA" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.2" newVersion="1.0.0.2"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <PermanentVacations.Nasa.Sts.OutlookCalendar.Properties.Settings>
   <setting name="VewersTimeZone" serializeAs="String">
    <value>(GMT-05:00) Eastern Time (US &amp; Canada)</value>
   </setting>
   <setting name="MyDocuments" serializeAs="String">
    <value>E:\Documents and Settings\RalphHightower\My Documents\Nasa\</value>
   </setting>
   <setting name="LookAheadWeeks" serializeAs="String">
    <value>5</value>
   </setting>
  </PermanentVacations.Nasa.Sts.OutlookCalendar.Properties.Settings>
  <NasaTVScheduleImport.Properties.Settings>
   <setting name="VewersTimeZone" serializeAs="String">
    <value />
   </setting>
   <setting name="MyDocuments" serializeAs="String">
    <value />
   </setting>
  </NasaTVScheduleImport.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <PermanentVacations.Nasa.Sts.OutlookCalendar.Properties.Settings>
   <setting name="CopyExceptionsToClipboard" serializeAs="String">
    <value>False</value>
   </setting>
  </PermanentVacations.Nasa.Sts.OutlookCalendar.Properties.Settings>
  <NasaTVScheduleImport.Properties.Settings>
   <setting name="DiagnosticCopyToClipboard" serializeAs="String">
    <value>True</value>
   </setting>
  </NasaTVScheduleImport.Properties.Settings>
 </applicationSettings>
</configuration>
